<h1>Sprachunterricht und Sprachnachhilfe Judith Hölzle</h1>
<h2>Angebot</h2>
<p>Ich biete online persönliche Hilfe beim Erlernen von Sprachen für Erwachsene & Kinder/Schüler in Gruppen- oder Einzelterminen. auf Wunsch auch persönlich im Raum Köln/Bonn </p>

<h2>Sprachen</h2>
<ul>
  <li>Deutsch (universitäre Ausbildung)</li>
  <li>Französisch (universitäre Ausbildung)</li>
  <li>Englisch (autodidaktisch)</li>
  <li>Spanisch (autodidaktisch)</li>
</ul>

<h2>Ausbildung</h2>
<p>
  Ich bin universitär ausgebildete Lehrerin und war X Jahre Lehrerin an der Sekundarstufe eines Gymnasiums in Nordrheinwestfalen/Deutschland.<br><br>
  Ich fokussiere jetzt persönlich Nachhilfe zu geben, weil ich dieses für deutlich effizienter halte, um Sprachen zu erlernen, da unter anderem auf die Stärken und Schwächen der Schüler mehr Rückicht genommen werden kann.
</p>

<h2>Preis</h2>
<p>Abhängig von individueller Absprache insbesondere Anreise- bzw. Vorbereitungsaufwand.</p>

<h2>Schüler</h2>
<p>...</p>

<h2>Erwachsene</h2>
<p>...</p>

<h2>Erfahrungsberichte</h2>
<p>...</p>

<%= link_to 'Impressum', impressum_path %>