<h1><b>Sprachunterricht und Sprachnachhilfe</b></h1>
<p>
  Ich biete persönliche Hilfe an beim Erlernen von Sprachen für Erwachsene & Kinder/Schüler in Gruppen- oder Einzelterminen.<br>
  Das Angebot ist primär online, aber in Absprache auch vor Ort im Raum Köln/Bonn.
</p>
<b><%=  mail_to MyData.email,"Kontaktieren Sie mich!", class: "button" %></b>
<p>HIER WÜRDE ICH DAS BILD EINFÜGEN</p>
<br>
<h2>Angebotene Sprachen</h2>
<ul>
  <li>Deutsch (universitäre Ausbildung)</li>
  <li>Französisch (universitäre Ausbildung)</li>
  <li>Englisch (autodidaktisch)</li>
  <li>Spanisch (autodidaktisch)</li>
</ul>
<h2>Motivation</h2>
<p>Ich halte persönliche Hilfe für erfolgsversprechender, um Sprachen zu erlernen, da unter anderem auf die Stärken und Schwächen der Schüler mehr Rückicht genommen werden kann. Dise kann auch online erfolgen meines Erachtens.</p>
<h2>Ausbildung</h2>
<p>
  Ich bin universitär ausgebildete Lehrerin und war viele Jahre Lehrerin an der Sekundarstufe eines Gymnasiums in Nordrheinwestfalen/Deutschland.
</p>

<h2>Preis</h2>
<p>Ich rechne stundenbasiert ab. Der Stundenpreis wird individuell besprochen ist aber abhängig von Gruppengröße, Anreise-, Vorbereitungs- bzw. Nachbearbeitungsaufwand.</p>

<h2>Noch Fragen?</h2>
<p>Gerne kläre ich Ihre Fragen einfach per E-Mail!</p>
<b><%=  mail_to MyData.email,"Jetzt kontaktieren", class: "button" %></b>

<br><br><br>
<hr>
<br>
<%= link_to 'Impressum', impressum_path %>